.menu {
    display: flex;
    gap: 10px;
    margin-top: 20px;

  }

  .menu button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  /* src/Home.css */

  *,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: black;
  margin: 0;
}

.home-container {
  width: 100%;
  height: 100%;
}

.hero-section {
  background: #222;
  color: #fff;
  padding: 50px 20px;
  text-align: center;
}

.hero-text h1 {
  margin: 0;
  font-size: 2.5rem;
}

.hero-text p {
  margin: 0;
  font-size: 1.25rem;
}

.about-us, .contact-us {
  padding: 20px;
  color: #fff;
  background: #333;
}

.projects-gallery {
  padding: 20px;
  color: #fff;
  background: #222;
}

#mz-gallery-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
/* General styles for the gallery container */
#mz-gallery {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 70px);
    height: 450px; /* Fixed height for uniform image display */
    max-width: 1900px;
    margin: 35px 0;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 0 0 55px;
    scroll-behavior: smooth;
    scrollbar-color: lawngreen #222;
    scrollbar-width: auto;
  }

  #mz-gallery figure {
    position: relative;
    margin: 0;
    width: 700px; /* Fixed width for consistent sizing */
    margin-right: 20px; /* Space between images */
    scroll-snap-align: start;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  #mz-gallery figure img {
    width: 100%; /* Ensure image fits the width of the figure container */
    height: 45%; /* Ensure image fits the height of the figure container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    transition: all 0.3s ease-in-out;
  }

  #mz-gallery figure figcaption {
    position: absolute;
    color: transparent;
    font-size: 18pt;
    line-height: 24pt;
    font-weight: 500;
    padding: 0px 20px;
    text-align: center;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(rgba(124, 252, 0, 0.7) 1px, rgba(0, 0, 0, 0.9) 1px);
    opacity: 0;
    border-radius: 100%;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }
  