/* Login.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white; /* Light background */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .login-logo-container {
    text-align: center;
    margin-bottom: 20px;
  }

  .login-logo {
    width: 150px;
    height: auto;
  }

  .login-title {
    color: #005C78; /* Dark blue title color */
    margin-bottom: 20px;
    text-align: center;
  }

  .login-input-group {
    margin-bottom: 15px;
    width: 100%;
  }

  .login-label {
    display: block;
    color: #006989; /* Slightly lighter blue label color */
    margin-bottom: 5px;
  }

  .login-input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #EEEEEE; /* Light coral input background */
    color: #ffffff; /* White input text color */
  }

  .login-button,.signin-button {
    width: 115%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #005C78; /* Dark blue button background */
    color: #ffffff; /* White button text color */
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 5px;
  }

  .login-button:hover,.signin-button:hover {
    background-color: #006989; /* Slightly lighter blue on hover */
  }
  /* -------------------- */
  .SignIn-container {

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    margin-top: 50px; /* Add margin-top as needed */

  }

  .login-logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .login-logo {
    height: 100px;
  }

  .login-form-container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .login-title {
    text-align: center;
    margin-bottom: 20px;
  }

  .login-input-group {
    margin-bottom: 15px;
    width: 100%; /* Ensure the input groups take the full width */
  }

  .login-label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }

  .login-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .signIn2-button {
    width: 100%;
    padding: 10px;
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .signIn2-button:hover {
    background-color: #303f9f;
  }
